{% extends "layout.html" %}

{% block title %}Create Timetable{% endblock %}

{% block content %}
<h1>Create Your Timetable</h1>
<p>Use the form below to create your timetable for college or school.</p>

<hr>

<h2>Create classes:</h2>
<form>
  <label>Name : </label><input type="text" id="batch_name" placeholder="Name of the batch">
  <label>Year : </label><input type="text" id="batch_year" placeholder="Year of the batch">
  <label>Department : </label><input type="text" id="batch_dept" placeholder="Department of the batch">
</form>

<hr>

<h2>Subjects for the batch</h2>
<form>
    <label>Name : </label><input type="text" id="subject_name" placeholder="Enter subject name">
    <label>Code : </label><input type="text" id="subject_code" placeholder="Enter subject code">
    <label>Type : </label>
    <input type="radio" id="subject_type" value="Lecture"><label>Lecture</label>
    <input type="radio" id="subject_type" value="Lab"><label>Laboratory</label>
</form>

<hr>

<h2>Faculties for the batch</h2>
<form>
    <label>Name : </label>
    
</form>